.container {
    max-width: 72rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    position: fixed;
    top:0;
    left: 0;
    background-color: #141222;
    color: #fff;
    margin: 3rem 0 0;
  }

